/*-----------------------------------
---------------General---------------
-----------------------------------*/
body {
  margin: 0;
  font-family: 'Microsoft YaHei', sans-serif;
}
.wrapper {
  width: 1243px;
  height: 100%;
  margin: 0 auto;
}
.btn {
  position: absolute;
  content: '';
  bottom: -122px;
  left: 50%;
  width: 86px;
  height: 86px;
  background: #ecedef;
  transform: rotate(45deg) translate(-100%, -31%);
  border-top-left-radius: 50%;
  cursor: pointer;
}
.btn:hover:before {
  transform: scale(1.1);
}
.btn:before {
  position: absolute;
  content: '';
  top: 12px;
  left: 12px;
  width: 26px;
  height: 26px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transition: .3s;
}
.btn_about {
  background: #a5a5a5;
}
/*----------------------------------
---------------Header---------------
----------------------------------*/
.header {
  position: relative;
  height: 771px;
  overflow: hidden;
  background-image: url(../img/road.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 54px) calc(100% + 28px);
}
.header__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.header__title {
  position: absolute;
  top: 416px;
  left: 16px;
  transform: translate(0, -50%);
  color: #af0101;
  font-size: 60px;
  letter-spacing: 0.01em;
  margin: 0;
  display: inline-block;
  padding: 0 25px;
  cursor: default;
}
.header__title:before {
  position: absolute;
  content: '';
  width: 7px;
  height: 115px;
  background: #af0101;
  top: 6px;
  left: 9px;
}
.header__title span {
  color: #000000;
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 0.039em;
  margin: -5px 0 0 1px;
  display: block;
}
.header__text {
  position: absolute;
  bottom: 82px;
  right: 25px;
  width: 500px;
  margin: 0;
  color: #af0101;
  font-size: 27px;
  text-align: right;
  letter-spacing: 0.01em;
  cursor: default;
}
.header__mail {
  position: absolute;
  right: -80px;
  top: 363px;
  transform: rotate(-90deg);
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
.header__mail + span {
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url(../img/mail2.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 216px;
  right: 25px;
  transition: .3s;
}
.header__mail:hover + span {
  transform: rotate(360deg);
}
.menu {
  margin: 54px 25px 0 0;
  text-transform: uppercase;
}
.menu__items {
  display: flex;
  list-style-type: none;
  border-left: 3px solid #af0101;
  border-right: 3px solid #af0101;
  margin: 0;
  padding: 6px 15px;
}
.menu__item {
  margin: 0 0 0 46px;
  font-size: 22px;
  font-weight: bold;
  color: #af0101;
  text-decoration: none;
  transition: .3s;
  position: relative;
  cursor: pointer;
}
.menu__item:first-child {
  margin: 0;
}
.menu__item:before,
.menu__item:after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: #af0101;
  left: 50%;
  bottom: -7px;
}
.menu__item:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.menu__item:after {
  transition: width 0.3s ease-in-out;
}
.menu__item:hover:before {
  width: 29%;
  left: 21%;
}
.menu__item:hover:after {
  width: 37%;
}
.menu__link {
  text-decoration: none;
  color: inherit;
}
.lang {
  display: flex;
  padding: 0;
  margin: 60px 0 0 25px;
}
.lang__item {
  color: #af0101;
  list-style-type: none;
  margin: 0 16px 0 0;
}
.lang__link {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  transition: .3s;
  position: relative;
}
.lang__link:before,
.lang__link:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #000000;
  left: 50%;
  bottom: -7px;
}
.lang__link:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.lang__link:after {
  transition: width 0.3s ease-in-out;
}
.lang__link:hover:before {
  width: 29%;
  left: 21%;
}
.lang__link:hover:after {
  width: 37%;
}
/*---------------------------------
---------------Books---------------
---------------------------------*/
.books {
  background: #ecedef;
  padding: 108px 0 138px 0;
}
.books__title {
  text-transform: uppercase;
  text-align: center;
  color: #af0101;
  letter-spacing: 0.03em;
  margin: 0;
}
.books__item {
  display: flex;
  padding: 138px 0 0 0;
}
.books__left {
  flex: 1 0 163px;
  height: 245px;
  margin: 0 50px 0 0;
  position: relative;
  z-index: 0;
}
.books__img {
  background-repeat: no-repeat;
  background-position: center;
  width: 163px;
  height: 245px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  box-sizing: border-box;
}
.books__border {
  position: absolute;
  content: '';
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  border: 1px solid #af0101;
  z-index: -1;
  box-sizing: border-box;
}
.books__right {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #af0101;
}
.books__title-s {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.books__text {
  font-weight: lighter;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.017em;
  margin: 17px 0 0 0;
}
.books__links {
  margin: 53px 0 0 0;
}
.books__link {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  margin: 0 20px 0 0;
  letter-spacing: 0.07em;
  transition: .3s;
  position: relative;
}
.books__link:before,
.books__link:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #000000;
  left: 50%;
  bottom: -7px;
}
.books__link:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.books__link:after {
  transition: width 0.3s ease-in-out;
}
.books__link:hover:before {
  width: 29%;
  left: 21%;
}
.books__link:hover:after {
  width: 37%;
}
/*----------------------------------
---------------Footer---------------
----------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #434343;
  padding: 77px 0 37px 0;
}
.footer__mail {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.01em;
  margin: 74px 0 0 0;
  transition: .3s;
  position: relative;
}
.footer__mail:before,
.footer__mail:after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: #ffffff;
  left: 50%;
  bottom: -7px;
}
.footer__mail:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.footer__mail:after {
  transition: width 0.3s ease-in-out;
}
.footer__mail:hover:before {
  width: 29%;
  left: 21%;
}
.footer__mail:hover:after {
  width: 37%;
}
.footer__copyright {
  margin: 23px 0 0 0;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.01em;
}
.menu_f {
  margin: 0;
}
.menu__items_f {
  justify-content: center;
  border: 0;
}
.menu__item_f {
  margin: 0 0 0 58px;
  color: #ffffff;
}
.menu__item_f:before,
.menu__item_f:after {
  background-color: #ffffff;
}
.menu__item_f span,
.menu__item_f a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.menu__item_f span:after,
.menu__item_f a:after {
  position: absolute;
  content: '';
  top: -6px;
  right: -32px;
  width: 3px;
  height: 40px;
  background: #ffffff;
}
.menu__item_f:last-child span:after {
  display: none;
}
/*---------------------------------
---------------About---------------
---------------------------------*/
.about {
  background: #a5a5a5;
  padding: 108px 0;
}
.about__title {
  text-transform: uppercase;
  text-align: center;
  color: #af0101;
  letter-spacing: 0.03em;
  margin: 0;
}
.about__content {
  display: flex;
}
.about__left {
  width: 269px;
  height: 269px;
  background: url(../img/photo.png);
}
.about__right {
  margin: 13px 0 0 168px;
}
.about__item {
  font-size: 27px;
  font-weight: lighter;
  margin: 0 0 15px 0;
}
.about__item_education {
  margin: 61px 0 0 0;
  line-height: 52px;
}
.about__item span {
  font-weight: normal;
}
.about__link {
  color: #000000;
  text-decoration: none;
  transition: .3s;
  position: relative;
}
.about__link:before,
.about__link:after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: #000000;
  left: 50%;
  bottom: -7px;
}
.about__link:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.about__link:after {
  transition: width 0.3s ease-in-out;
}
.about__link:hover:before {
  width: 29%;
  left: 21%;
}
.about__link:hover:after {
  width: 37%;
}
/*------------------------------------
---------------Feedback---------------
------------------------------------*/
.feedback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.feedback__wrapper {
  width: 100%;
  height: 100%;
}
.feedback__window {
  position: fixed;
  width: 1000px;
  height: calc(100% - 101px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.24);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
}
.feedback__title {
  text-transform: uppercase;
  text-align: center;
  color: #af0101;
  letter-spacing: 0.03em;
  margin: 0;
}
.feedback__close {
  position: absolute;
  top: 14px;
  right: 17px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: .5s;
}
.feedback__close:hover {
  transform: rotate(180deg);
}
.feedback__close:before,
.feedback__close:after {
  position: absolute;
  content: '';
  width: 26px;
  height: 1px;
  background: #af0101;
}
.feedback__close:before {
  transform: rotate(45deg);
  top: 15px;
  left: 2px;
}
.feedback__close:after {
  transform: rotate(-45deg);
  top: 15px;
  right: 2px;
}
.feedback__form {
  margin: 38px 0 0 0;
}
.feedback__email-input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.feedback__text {
  height: 360px;
  margin: 25px 0 0 0;
}
.feedback__text-textarea {
  width: 100%;
  height: 360px;
  box-sizing: border-box;
  resize: none;
  padding: 20px;
}
.feedback__submit-input {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 20px;
}
/*------------------------------------------
---------------Responsibility---------------
------------------------------------------*/
.resp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}
.resp__wrapper {
  width: 100%;
  height: 100%;
}
.resp__window {
  position: fixed;
  width: 1000px;
  height: calc(100% - 101px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.24);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
}
.resp__content {
  overflow: auto;
  margin: 15px 0 0 0;
}
.resp__title {
  text-transform: uppercase;
  text-align: center;
  color: #af0101;
  letter-spacing: 0.03em;
  margin: 0;
}
.resp__text {
  text-indent: 33px;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.007em;
  margin: 0 0 20px 0;
}
.resp__text:last-child {
  margin: 0;
}
.resp__close {
  position: absolute;
  top: 14px;
  right: 17px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: .5s;
}
.resp__close:hover {
  transform: rotate(180deg);
}
.resp__close:before,
.resp__close:after {
  position: absolute;
  content: '';
  width: 26px;
  height: 1px;
  background: #af0101;
}
.resp__close:before {
  transform: rotate(45deg);
  top: 15px;
  left: 2px;
}
.resp__close:after {
  transform: rotate(-45deg);
  top: 15px;
  right: 2px;
}
