/*-----------------------------------
---------------General---------------
-----------------------------------*/
body {
  margin: 0;
  font-family: 'Microsoft YaHei', sans-serif;
}
.wrapper {
  width: 1243px;
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .wrapper {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
  }
}
.btn {
  position: absolute;
  content: '';
  bottom: -122px;
  left: 50%;
  width: 86px;
  height: 86px;
  background: #ecedef;
  transform: rotate(45deg) translate(-100%, -31%);
  border-top-left-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .btn {
    bottom: -74px;
    width: 52px;
    height: 52px;
  }
}
.btn:hover:before {
  transform: scale(1.1);
}
.btn:before {
  position: absolute;
  content: '';
  top: 12px;
  left: 12px;
  width: 26px;
  height: 26px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transition: .3s;
}
@media screen and (max-width: 1440px) {
  .btn:before {
    top: 7px;
    left: 8px;
    width: 15px;
    height: 15px;
  }
}
.btn_about {
  background: #a5a5a5;
}
/*----------------------------------
---------------Header---------------
----------------------------------*/
.header {
  position: relative;
  height: 771px;
  overflow: hidden;
  background-image: url(../img/road.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 54px) calc(100% + 28px);
}
@media screen and (max-width: 1440px) {
  .header {
    height: 463px;
    background-size: 918px 478px;
    background-position: calc(50% + 33px) calc(100% + 16px);
  }
}
@media screen and (max-width: 767px) {
  .header {
    background-size: 125% 478px;
    background-position: calc(50% + -5px) calc(100% + 16px);
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.header__title {
  position: absolute;
  top: 416px;
  left: 16px;
  transform: translate(0, -50%);
  color: #af0101;
  font-size: 60px;
  letter-spacing: 0.01em;
  margin: 0;
  display: inline-block;
  padding: 0 25px;
  cursor: default;
}
@media screen and (max-width: 1440px) {
  .header__title {
    top: 248px;
    left: 11px;
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .header__title {
    top: 65px;
    left: calc(50% + 4px);
    transform: translate(-50%, 0);
    font-size: 32px;
    white-space: nowrap;
  }
}
.header__title:before {
  position: absolute;
  content: '';
  width: 7px;
  height: 115px;
  background: #af0101;
  top: 6px;
  left: 9px;
}
@media screen and (max-width: 1440px) {
  .header__title:before {
    width: 4px;
    height: 70px;
    top: 5px;
    left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .header__title:before {
    width: 4px;
    height: 55px;
    top: 5px;
    left: 15px;
  }
}
.header__title span {
  color: #000000;
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 0.039em;
  margin: -5px 0 0 1px;
  display: block;
}
@media screen and (max-width: 1440px) {
  .header__title span {
    font-size: 20px;
    margin: -2px 0 0 1px;
  }
}
@media screen and (max-width: 767px) {
  .header__title span {
    font-size: 14px;
  }
}
.header__text {
  position: absolute;
  bottom: 82px;
  right: 25px;
  width: 500px;
  margin: 0;
  color: #af0101;
  font-size: 27px;
  text-align: right;
  letter-spacing: 0.01em;
  cursor: default;
}
@media screen and (max-width: 1440px) {
  .header__text {
    bottom: 49px;
    right: 26px;
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  .header__text {
    font-size: 14px;
  }
}
.header__mail {
  position: absolute;
  right: -80px;
  top: 363px;
  transform: rotate(-90deg);
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
@media screen and (max-width: 1440px) {
  .header__mail {
    right: -37px;
    top: 218px;
    font-size: 12px;
  }
}
.header__mail + span {
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url(../img/mail2.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 216px;
  right: 25px;
  transition: .3s;
}
@media screen and (max-width: 1440px) {
  .header__mail + span {
    width: 17px;
    height: 17px;
    top: 130px;
    right: 25px;
  }
}
.header__mail:hover + span {
  transform: rotate(360deg);
}
.menu {
  margin: 54px 25px 0 0;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .menu {
    margin: 32px 25px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu__items {
  display: flex;
  list-style-type: none;
  border-left: 3px solid #af0101;
  border-right: 3px solid #af0101;
  margin: 0;
  padding: 6px 15px;
}
@media screen and (max-width: 1440px) {
  .menu__items {
    border-left: 2px solid #af0101;
    border-right: 2px solid #af0101;
    margin: 0;
    padding: 2px 8px;
  }
}
.menu__item {
  margin: 0 0 0 46px;
  font-size: 22px;
  font-weight: bold;
  color: #af0101;
  text-decoration: none;
  transition: .3s;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .menu__item {
    margin: 0 0 0 24px;
    font-size: 14px;
  }
}
.menu__item:first-child {
  margin: 0;
}
.menu__item:before,
.menu__item:after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: #af0101;
  left: 50%;
  bottom: -7px;
}
@media screen and (max-width: 1440px) {
  .menu__item:before,
  .menu__item:after {
    height: 2px;
  }
}
.menu__item:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.menu__item:after {
  transition: width 0.3s ease-in-out;
}
.menu__item:hover:before {
  width: 29%;
  left: 21%;
}
.menu__item:hover:after {
  width: 37%;
}
.menu__link {
  text-decoration: none;
  color: inherit;
}
.hamb {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-end;
  display: none;
}
@media screen and (max-width: 767px) {
  .hamb {
    display: flex;
  }
}
.hamb__item {
  display: block;
  background: #af0101;
  width: 30px;
  height: 3px;
  margin: 0 0 5px 0;
}
.lang {
  display: flex;
  padding: 0;
  margin: 60px 0 0 25px;
}
@media screen and (max-width: 1440px) {
  .lang {
    margin: 32px 0 0 25px;
  }
}
@media screen and (max-width: 767px) {
  .lang {
    display: none;
  }
}
.lang__item {
  color: #af0101;
  list-style-type: none;
  margin: 0 16px 0 0;
}
@media screen and (max-width: 1440px) {
  .lang__item {
    margin: 0 10px 0 0;
  }
}
.lang__link {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  transition: .3s;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .lang__link {
    font-size: 12px;
  }
}
.lang__link:before,
.lang__link:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #000000;
  left: 50%;
  bottom: -7px;
}
.lang__link:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.lang__link:after {
  transition: width 0.3s ease-in-out;
}
.lang__link:hover:before {
  width: 29%;
  left: 21%;
}
.lang__link:hover:after {
  width: 37%;
}
/*---------------------------------
---------------Books---------------
---------------------------------*/
.books {
  background: #ecedef;
  padding: 108px 0 138px 0;
}
@media screen and (max-width: 1440px) {
  .books {
    padding: 75px 0 75px 0;
  }
}
@media screen and (max-width: 767px) {
  .books {
    padding: 50px 0 50px 0;
  }
}
.books__title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #af0101;
  letter-spacing: 0.03em;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .books__title {
    font-size: 16px;
  }
}
.books__item {
  display: flex;
  padding: 138px 0 0 0;
}
@media screen and (max-width: 1440px) {
  .books__item {
    padding: 75px 25px 0 25px;
  }
}
@media screen and (max-width: 767px) {
  .books__item {
    padding: 50px 25px 0 25px;
    flex-direction: column;
    align-items: center;
  }
}
.books__left {
  flex: 1 0 163px;
  height: 245px;
  margin: 0 50px 0 0;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .books__left {
    margin: 0;
    width: 117px;
  }
}
.books__img {
  background-repeat: no-repeat;
  background-position: center;
  width: 163px;
  height: 245px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .books__img {
    margin: 0 auto;
    width: 117px;
    height: 172px;
    background-size: cover;
  }
}
.books__border {
  position: absolute;
  content: '';
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  border: 1px solid #af0101;
  z-index: -1;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .books__border {
    top: 10px;
    left: 10px;
  }
}
.books__right {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #af0101;
}
@media screen and (max-width: 767px) {
  .books__right {
    margin: 36px 0 0 0;
  }
}
.books__title-s {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1440px) {
  .books__title-s {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .books__title-s {
    text-align: center;
  }
}
.books__text {
  font-weight: lighter;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.017em;
  margin: 17px 0 0 0;
}
@media screen and (max-width: 1440px) {
  .books__text {
    font-size: 14px;
    line-height: 24px;
  }
}
.books__links {
  margin: 53px 0 0 0;
}
@media screen and (max-width: 1440px) {
  .books__links {
    margin: 25px 0 0 0;
  }
}
.books__link {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  margin: 0 20px 0 0;
  letter-spacing: 0.07em;
  transition: .3s;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .books__link {
    font-size: 14px;
  }
}
.books__link:before,
.books__link:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #000000;
  left: 50%;
  bottom: -7px;
}
.books__link:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.books__link:after {
  transition: width 0.3s ease-in-out;
}
.books__link:hover:before {
  width: 29%;
  left: 21%;
}
.books__link:hover:after {
  width: 37%;
}
/*----------------------------------
---------------Footer---------------
----------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #434343;
  padding: 77px 0 37px 0;
}
@media screen and (max-width: 1440px) {
  .footer {
    padding: 50px 0 25px 0;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 14px 0 16px 0;
  }
}
.footer__mail {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.01em;
  margin: 74px 0 0 0;
  transition: .3s;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .footer__mail {
    font-size: 16px;
    margin: 35px 0 0 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__mail {
    font-size: 15px;
    margin: 41px 0 0 0;
    letter-spacing: -0.03em;
  }
}
.footer__mail:before,
.footer__mail:after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: #ffffff;
  left: 50%;
  bottom: -7px;
}
.footer__mail:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.footer__mail:after {
  transition: width 0.3s ease-in-out;
}
.footer__mail:hover:before {
  width: 29%;
  left: 21%;
}
.footer__mail:hover:after {
  width: 37%;
}
.footer__copyright {
  margin: 23px 0 0 0;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 1440px) {
  .footer__copyright {
    margin: 16px 0 0 0;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 7px 0 0 0;
    font-size: 10px;
  }
}
.menu_f {
  display: block;
  margin: 0;
}
.menu__items_f {
  justify-content: center;
  border: 0;
}
@media screen and (max-width: 767px) {
  .menu__items_f {
    width: 320px;
    flex-wrap: wrap;
    padding: 0;
    line-height: 24px;
  }
}
.menu__item_f {
  margin: 0 0 0 58px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .menu__item_f {
    margin: 0 0 0 28px;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 0.06em;
  }
}
@media screen and (max-width: 767px) {
  .menu__item_f:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .menu__item_f:nth-child(3) span:after {
    display: none;
  }
}
.menu__item_f:last-child span:after {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu__item_f:last-child span:after {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .menu__item_f:last-child span:before {
    position: absolute;
    content: '';
    top: 0;
    left: -15px;
    width: 1px;
    height: 18px;
    background: #ffffff;
  }
}
.menu__item_f:before,
.menu__item_f:after {
  background-color: #ffffff;
}
.menu__item_f span,
.menu__item_f a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.menu__item_f span:after,
.menu__item_f a:after {
  position: absolute;
  content: '';
  top: -6px;
  right: -32px;
  width: 3px;
  height: 40px;
  background: #ffffff;
}
@media screen and (max-width: 1440px) {
  .menu__item_f span:after,
  .menu__item_f a:after {
    top: 0;
    right: -32px;
    width: 2px;
    height: 18px;
  }
}
@media screen and (max-width: 767px) {
  .menu__item_f span:after,
  .menu__item_f a:after {
    right: -15px;
    width: 1px;
  }
}
/*---------------------------------
---------------About---------------
---------------------------------*/
.about {
  background: #a5a5a5;
  padding: 108px 0;
}
.about__title {
  text-transform: uppercase;
  text-align: center;
  color: #af0101;
  letter-spacing: 0.03em;
  margin: 0;
}
.about__content {
  display: flex;
}
.about__left {
  width: 269px;
  height: 269px;
  background: url(../img/photo.png);
}
.about__right {
  margin: 13px 0 0 168px;
}
.about__item {
  font-size: 27px;
  font-weight: lighter;
  margin: 0 0 15px 0;
}
.about__item_education {
  margin: 61px 0 0 0;
  line-height: 52px;
}
.about__item span {
  font-weight: normal;
}
.about__link {
  color: #000000;
  text-decoration: none;
  transition: .3s;
  position: relative;
}
.about__link:before,
.about__link:after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: #000000;
  left: 50%;
  bottom: -7px;
}
.about__link:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.about__link:after {
  transition: width 0.3s ease-in-out;
}
.about__link:hover:before {
  width: 29%;
  left: 21%;
}
.about__link:hover:after {
  width: 37%;
}
/*------------------------------------
---------------Feedback---------------
------------------------------------*/
.feedback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}
.feedback__wrapper {
  width: 100%;
  height: 100%;
}
.feedback__window {
  position: fixed;
  width: 1000px;
  height: calc(100% - 101px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.24);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
}
.feedback__title {
  text-transform: uppercase;
  text-align: center;
  color: #af0101;
  letter-spacing: 0.03em;
  margin: 0;
}
.feedback__close {
  position: absolute;
  top: 14px;
  right: 17px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: .5s;
}
.feedback__close:hover {
  transform: rotate(180deg);
}
.feedback__close:before,
.feedback__close:after {
  position: absolute;
  content: '';
  width: 26px;
  height: 1px;
  background: #af0101;
}
.feedback__close:before {
  transform: rotate(45deg);
  top: 15px;
  left: 2px;
}
.feedback__close:after {
  transform: rotate(-45deg);
  top: 15px;
  right: 2px;
}
.feedback__form {
  margin: 38px 0 0 0;
}
.feedback__email {
  position: relative;
}
.feedback__email-input {
  width: 100%;
  padding: 20px 48px;
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  border: 1px solid #999999;
  box-sizing: border-box;
  outline: none;
}
.feedback__email-input.error {
  border: 1px solid #ff0000;
}
.feedback__email-error,
.feedback__textarea-error {
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 10px;
  color: #ff0000;
  display: none;
}
.feedback__text {
  height: 360px;
  margin: 25px 0 0 0;
  position: relative;
}
.feedback__text-textarea {
  width: 100%;
  height: 360px;
  padding: 20px 48px;
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  border: 1px solid #999999;
  box-sizing: border-box;
  resize: none;
  outline: none;
}
.feedback__text-textarea.error {
  border: 1px solid #ff0000;
}
.feedback__counter {
  position: absolute;
  bottom: -15px;
  right: 0;
  font-size: 10px;
  color: darkgreen;
}
.feedback__submit-input {
  display: block;
  margin: 70px auto 0;
  padding: 18px 84px;
  text-transform: uppercase;
  font-size: 20px;
  border: 0;
  background: #af0101;
  color: #dddddd;
  cursor: pointer;
  outline: none;
}
/*------------------------------------------
---------------Responsibility---------------
------------------------------------------*/
.resp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}
.resp__wrapper {
  width: 100%;
  height: 100%;
}
.resp__window {
  position: fixed;
  width: 1000px;
  height: calc(100% - 101px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.24);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
}
.resp__content {
  overflow: auto;
  margin: 15px 0 0 0;
}
.resp__title {
  text-transform: uppercase;
  text-align: center;
  color: #af0101;
  letter-spacing: 0.03em;
  margin: 0;
}
.resp__text {
  text-indent: 33px;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.007em;
  margin: 0 0 20px 0;
}
.resp__text:last-child {
  margin: 0;
}
.resp__close {
  position: absolute;
  top: 14px;
  right: 17px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: .5s;
}
.resp__close:hover {
  transform: rotate(180deg);
}
.resp__close:before,
.resp__close:after {
  position: absolute;
  content: '';
  width: 26px;
  height: 1px;
  background: #af0101;
}
.resp__close:before {
  transform: rotate(45deg);
  top: 15px;
  left: 2px;
}
.resp__close:after {
  transform: rotate(-45deg);
  top: 15px;
  right: 2px;
}
