/*-----------------------------------
---------------General---------------
-----------------------------------*/
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  min-height: 2000px;
}
.wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.title {
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  position: relative;
}
.title:before {
  position: absolute;
  top: 54px;
  left: 50%;
  transform: translate(-50%, 0);
  content: '';
  width: 124px;
  height: 22px;
  border-left: 3px solid #00c1b9;
  border-bottom: 3px solid #00c1b9;
  border-right: 3px solid #00c1b9;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.btn {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0) rotate(45deg);
  border-bottom: 3px solid #af0101;
  border-right: 3px solid #af0101;
  cursor: pointer;
  transition: .3s;
}
.btn:hover {
  transform: translate(-50%, 0) rotate(45deg) scale(1.1);
}
/*----------------------------------
---------------Header---------------
----------------------------------*/
.header {
  height: 100vh;
  position: relative;
  font-weight: 900;
}
.header:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -200px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding: 30px 0 0 0;
}
.header__title {
  position: absolute;
  top: 30%;
  left: 15px;
  color: #af0101;
  font-size: 70px;
  margin: 0;
  display: inline-block;
  border-left: 5px solid #af0101;
  border-right: 5px solid #af0101;
  padding: 0 25px;
}
.header__title span {
  color: #000000;
  font-size: 22px;
  display: block;
}
.header__text {
  position: absolute;
  top: 70%;
  right: 21px;
  width: 500px;
  padding: 0 50px 0 0;
  margin: 0;
  color: #af0101;
  font-size: 22px;
  text-align: right;
  letter-spacing: 0.01em;
}
.header__mail {
  position: absolute;
  right: -90px;
  top: 360px;
  transform: rotate(-90deg);
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
.header__mail + span {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 220px;
  right: 9px;
  transition: .5s;
}
.header__mail:hover + span {
  transform: rotate(360deg);
}
.menu {
  text-transform: uppercase;
}
.menu__items {
  list-style-type: none;
  margin: 0;
  border-left: 2px solid #af0101;
  border-right: 2px solid #af0101;
  padding: 0 15px;
  display: flex;
}
.menu__item {
  margin: 0 0 0 50px;
  color: #af0101;
  text-decoration: none;
  transition: .3s;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}
.menu__item:first-child {
  margin: 0;
}
.menu__item:before,
.menu__item:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #af0101;
  left: 50%;
  bottom: -7px;
}
.menu__item:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.menu__item:after {
  transition: width 0.3s ease-in-out;
}
.menu__item:hover:before {
  width: 29%;
  left: 21%;
}
.menu__item:hover:after {
  width: 37%;
}
.lang {
  display: flex;
  padding: 0 0 0 15px;
  margin: 0;
}
.lang__item {
  color: #af0101;
  list-style-type: none;
  margin: 0 10px 0 0;
}
.lang__link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  transition: .3s;
  position: relative;
}
.lang__link:before,
.lang__link:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #000000;
  left: 50%;
  bottom: -7px;
}
.lang__link:before {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.lang__link:after {
  transition: width 0.3s ease-in-out;
}
.lang__link:hover:before {
  width: 29%;
  left: 21%;
}
.lang__link:hover:after {
  width: 37%;
}
