/*-----------------------------------
---------------General---------------
-----------------------------------*/

//@font-face {
//	font-family: 'Microsoft YaHei';
//	src: url('/font/MicrosoftYaHei.woff2') format('woff2');
//	font-weight: normal;
//	font-style: normal;
//}
//
//@font-face {
//	font-family: 'Microsoft YaHei';
//	src: url('/font/MicrosoftYaHeiLight.woff2') format('woff2');
//	font-weight: 300;
//	font-style: normal;
//}
//
//@font-face {
//	font-family: 'Microsoft YaHei';
//	src: url('/font/MicrosoftYaHeiBold.woff2') format('woff2');
//	font-weight: bold;
//	font-style: normal;
//}

body {
	margin: 0;
	//font-family: 'Roboto', sans-serif;
	font-family: 'Microsoft YaHei', sans-serif;
}

.wrapper {
	width: 1243px;
	height: 100%;
	margin: 0 auto;
}

//.title {
//	font-size: 33px;
//	text-transform: uppercase;
//	text-align: center;
//	margin: 0;
//	cursor: default;
//	position: relative;
//
//	&:before {
//		position: absolute;
//		top: 54px;
//		left: 50%;
//		transform: translate(-50%, 0);
//		content: '';
//		width: 124px;
//		height: 22px;
//		border-left: 3px solid #00c1b9;
//		border-bottom: 3px solid #00c1b9;
//		border-right: 3px solid #00c1b9;
//		border-bottom-left-radius: 3px;
//		border-bottom-right-radius: 3px;
//	}
//}

//.btn {
//	display: block;
//	width: 50px;
//	height: 50px;
//	position: absolute;
//	left: 50%;
//	bottom: 20px;
//	transform: translate(-50%, 0) rotate(45deg);
//	border-bottom: 3px solid #af0101;
//	border-right: 3px solid #af0101;
//	cursor: pointer;
//	transition: .3s;
//
//	&:hover {
//		transform: translate(-50%, 0) rotate(45deg) scale(1.1);
//	}
//}

.btn {
	position: absolute;
	content: '';
	bottom: -122px;
	left: 50%;
	width: 86px;
	height: 86px;
	background: #ecedef;
	transform: rotate(45deg) translate(-100%, -31%);
	border-top-left-radius: 50%;
	cursor: pointer;

	&:hover:before {
		transform: scale(1.1);
	}

	&:before {
		position: absolute;
		content: '';
		top: 12px;
		left: 12px;
		width: 26px;
		height: 26px;
		border-right: 2px solid #000000;
		border-bottom: 2px solid #000000;
		transition: .3s;
	}

	&_about {
		background: #a5a5a5;
	}
}

/*----------------------------------
---------------Header---------------
----------------------------------*/

.header {
	position: relative;
	height: 771px;
	overflow: hidden;
	background-image: url(../img/road.png);
	background-repeat: no-repeat;
	background-position: ~"calc(50% + 54px)" ~"calc(100% + 28px)";

	//&:before {
	//	position: absolute;
	//	content: '';
	//	width: 100%;
	//	height: 100%;
	//	background-image: url(../img/bg.png);
	//	background-repeat: no-repeat;
	//	background-position: 240px bottom;
	//}

	&__content {
		display: flex;
		justify-content: space-between;
		position: relative;
		height: 100%;
		//padding: 30px 0 0 0;
		//border: 1px solid red;
	}

	&__title {
		position: absolute;
		top: 416px;
		left: 16px;
		transform: translate(0, -50%);
		color: #af0101;
		font-size: 60px;
		letter-spacing: 0.01em;
		margin: 0;
		display: inline-block;
		//border-left: 5px solid #af0101;
		//border-right: 5px solid #af0101;
		padding: 0 25px;
		cursor: default;

		&:before {
			position: absolute;
			content: '';
			width: 7px;
			height: 115px;
			background: #af0101;
			top: 6px;
			left: 9px;
		}

		span {
			color: #000000;
			font-size: 34px;
			font-weight: normal;
			letter-spacing: 0.039em;
			margin: -5px 0 0 1px;
			display: block;
		}
	}

	&__text {
		position: absolute;
		bottom: 82px;
		right: 25px;
		width: 500px;
		//padding: 0 50px 0 0;
		margin: 0;
		//border-left: 2px solid #af0101;
		//border-right: 2px solid #af0101;
		color: #af0101;
		font-size: 27px;
		text-align: right;
		letter-spacing: 0.01em;
		cursor: default;

		//&:before,
		//&:after {
		//	display: block;
		//	position: absolute;
		//	content: "''";
		//	height: 100px;
		//	width: auto;
		//	font-size: 200px;
		//	color: #af0101;
		//}

		//&:before {
		//	left: -27px;
		//	top: -73px;
		//}
		//
		//&:after {
		//	right: -30px;
		//	bottom: -44px;
		//}
	}

	&__mail {
		position: absolute;
		right: -80px;
		top: 363px;
		transform: rotate(-90deg);
		text-decoration: none;
		color: #000000;
		font-size: 20px;

		+ span {
			position: absolute;
			width: 27px;
			height: 27px;
			background-image: url(../img/mail2.svg);
			background-repeat: no-repeat;
			background-position: center;
			top: 216px;
			right: 25px;
			transition: .3s;
		}

		&:hover {
			+ span {
				//filter: grayscale(0) brightness(1);
				transform: rotate(360deg);
			}
		}
	}
}

.menu {
	margin: 54px 25px 0 0;
	text-transform: uppercase;

	&__items {
		display: flex;
		list-style-type: none;
		border-left: 3px solid #af0101;
		border-right: 3px solid #af0101;
		margin: 0;
		padding: 6px 15px;
	}

	&__item {
		margin: 0 0 0 46px;
		font-size: 22px;
		font-weight: bold;
		color: #af0101;
		text-decoration: none;
		transition: .3s;
		position: relative;
		cursor: pointer;

		&:first-child {
			margin: 0;
		}

		&:before,
		&:after {
			display: block;
			position: absolute;
			content: "";
			height: 3px;
			width: 0;
			background-color: #af0101;
			left: 50%;
			bottom: -7px;
		}

		&:before {
			transition: width .3s ease-in-out,left .3s ease-in-out;
		}

		&:after {
			transition: width .3s ease-in-out;
		}

		&:hover {
			&:before {
				width: 29%;
				left: 21%;
			}

			&:after {
				width: 37%;
			}
		}
	}

	&__link {
		text-decoration: none;
		color: inherit;
	}
}

.lang {
	display: flex;
	padding: 0;
	margin: 60px 0 0 25px;

	&__item {
		color: #af0101;
		list-style-type: none;
		margin: 0 16px 0 0;


		&:nth-child(2) {
			//margin: 30px 10px 0 0;
		}
	}
	
	&__link {
		text-decoration: none;
		font-size: 20px;
		color: #000000;
		text-transform: uppercase;
		transition: .3s;
		position: relative;

		&:before,
		&:after {
			display: block;
			position: absolute;
			content: "";
			height: 2px;
			width: 0;
			background-color: #000000;
			left: 50%;
			bottom: -7px;
		}

		&:before {
			transition: width .3s ease-in-out,left .3s ease-in-out;
		}

		&:after {
			transition: width .3s ease-in-out;
		}

		&:hover {
			&:before {
				width: 29%;
				left: 21%;
			}

			&:after {
				width: 37%;
			}
		}
	}
}

/*---------------------------------
---------------Books---------------
---------------------------------*/

.books {
	background: #ecedef;
	padding: 108px 0 138px 0;

	&__title {
		text-transform: uppercase;
		text-align: center;
		color: #af0101;
		letter-spacing: 0.03em;
		margin: 0;
	}

	&__item {
		display: flex;
		padding: 138px 0 0 0;
	}

	&__left {
		flex: 1 0 163px;
		height: 245px;
		margin: 0 50px 0 0;
		position: relative;
		z-index: 0;
	}

	&__img {
		background-repeat: no-repeat;
		background-position: center;
		width: 163px;
		height: 245px;
		box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
		border: 1px solid black;
		box-sizing: border-box;
	}

	&__border {
		position: absolute;
		content: '';
		top: 15px;
		left: 15px;
		width: 100%;
		height: 100%;
		border: 1px solid #af0101;
		z-index: -1;
		box-sizing: border-box;
	}

	&__right {
		padding: 0 0 15px 0;
		border-bottom: 1px solid #af0101;
	}

	&__title-s {
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 0.03em;
	}

	&__text {
		font-weight: lighter;
		font-size: 20px;
		line-height: 36px;
		letter-spacing: 0.017em;
		margin: 17px 0 0 0;
	}

	&__links {
		margin: 53px 0 0 0;
	}

	&__link {
		font-size: 20px;
		color: #000000;
		text-decoration: none;
		margin: 0 20px 0 0;
		letter-spacing: 0.07em;
		transition: .3s;
		position: relative;

		&:before,
		&:after {
			display: block;
			position: absolute;
			content: "";
			height: 2px;
			width: 0;
			background-color: #000000;
			left: 50%;
			bottom: -7px;
		}

		&:before {
			transition: width .3s ease-in-out,left .3s ease-in-out;
		}

		&:after {
			transition: width .3s ease-in-out;
		}

		&:hover {
			&:before {
				width: 29%;
				left: 21%;
			}

			&:after {
				width: 37%;
			}
		}
	}
}

/*----------------------------------
---------------Footer---------------
----------------------------------*/

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #434343;
	padding: 77px 0 37px 0;

	&__mail {
		font-size: 24px;
		color: #ffffff;
		text-decoration: none;
		letter-spacing: 0.01em;
		margin: 74px 0 0 0;
		transition: .3s;
		position: relative;

		&:before,
		&:after {
			display: block;
			position: absolute;
			content: "";
			height: 3px;
			width: 0;
			background-color: #ffffff;
			left: 50%;
			bottom: -7px;
		}

		&:before {
			transition: width .3s ease-in-out,left .3s ease-in-out;
		}

		&:after {
			transition: width .3s ease-in-out;
		}

		&:hover {
			&:before {
				width: 29%;
				left: 21%;
			}

			&:after {
				width: 37%;
			}
		}
	}

	&__copyright {
		margin: 23px 0 0 0;
		font-size: 18px;
		color: #ffffff;
		letter-spacing: 0.01em;
	}
}

.menu_f {
	margin: 0;
}

.menu__items_f {
	justify-content: center;
	border: 0;
}

.menu__item_f {
	margin: 0 0 0 58px;
	color: #ffffff;

	&:before,
	&:after {
		background-color: #ffffff;
	}

	span,
	a {
		position: relative;
		text-decoration: none;
		color: inherit;

		&:after {
			position: absolute;
			content: '';
			top: -6px;
			right: -32px;
			width: 3px;
			height: 40px;
			background: #ffffff;
		}
	}

	&:last-child span:after {
		display: none;
	}
}

/*---------------------------------
---------------About---------------
---------------------------------*/

.about {
	background: #a5a5a5;
	padding: 108px 0;

	&__title {
		text-transform: uppercase;
		text-align: center;
		color: #af0101;
		letter-spacing: 0.03em;
		margin: 0;
	}

	&__content {
		display: flex;
	}

	&__left {
		width: 269px;
		height: 269px;
		background: url(../img/photo.png);
	}

	&__right {
		margin: 13px 0 0 168px;
	}

	&__item {
		font-size: 27px;
		font-weight: lighter;
		margin: 0 0 15px 0;

		&_education {
			margin: 61px 0 0 0;
			line-height: 52px;
		}

		span {
			font-weight: normal;
		}
	}

	&__link {
		color: #000000;
		text-decoration: none;
		transition: .3s;
		position: relative;

		&:before,
		&:after {
			display: block;
			position: absolute;
			content: "";
			height: 3px;
			width: 0;
			background-color: #000000;
			left: 50%;
			bottom: -7px;
		}

		&:before {
			transition: width .3s ease-in-out,left .3s ease-in-out;
		}

		&:after {
			transition: width .3s ease-in-out;
		}

		&:hover {
			&:before {
				width: 29%;
				left: 21%;
			}

			&:after {
				width: 37%;
			}
		}
	}
}

/*------------------------------------
---------------Feedback---------------
------------------------------------*/

.feedback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background: rgba(0,0,0,0.5);
  z-index: 2;
  display: none;

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__window {
    position: fixed;
    width: 1000px;
    height: ~"calc(100% - 101px)";
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    color: #af0101;
    letter-spacing: 0.03em;
    margin: 0;
  }

  &__close {
    position: absolute;
    top: 14px;
    right: 17px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: .5s;

    &:hover {
      transform: rotate(180deg);
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 26px;
      height: 1px;
      background: #af0101;
    }

    &:before {
      transform: rotate(45deg);
      top: 15px;
      left: 2px;
    }

    &:after {
      transform: rotate(-45deg);
      top: 15px;
      right: 2px;
    }
  }
}

/*------------------------------------------
---------------Responsibility---------------
------------------------------------------*/

.resp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000px;
	background: rgba(0,0,0,0.5);
	z-index: 2;
	display: none;

	&__wrapper {
		width: 100%;
		height: 100%;
	}

	&__window {
		position: fixed;
		width: 1000px;
		height: ~"calc(100% - 101px)";
		box-shadow: 0 10px 16px rgba(0, 0, 0, 0.24);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: 50px;
		box-sizing: border-box;
	}

	&__content {
		overflow: auto;
		margin: 15px 0 0 0;
	}

	&__title {
		text-transform: uppercase;
		text-align: center;
		color: #af0101;
		letter-spacing: 0.03em;
		margin: 0;
	}

	&__text {
		text-indent: 33px;
		font-size: 20px;
		font-weight: lighter;
		letter-spacing: 0.007em;
		margin: 0 0 20px 0;

		&:last-child {
			margin: 0;
		}
	}

	&__close {
		position: absolute;
		top: 14px;
		right: 17px;
		cursor: pointer;
		width: 30px;
		height: 30px;
		transition: .5s;

		&:hover {
			transform: rotate(180deg);
		}

		&:before,
		&:after {
			position: absolute;
			content: '';
			width: 26px;
			height: 1px;
			background: #af0101;
		}

		&:before {
			transform: rotate(45deg);
			top: 15px;
			left: 2px;
		}

		&:after {
			transform: rotate(-45deg);
			top: 15px;
			right: 2px;
		}
	}
}


